 *{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .container{
    border: 1px solid black;
    display: flex;
    min-height: 10rem;
    align-items: center;
    gap: 0.5rem;
    color: white;
    
 }

 .box{
    background-color: rgb(111, 111, 111);
    border: 1px solid rgb(87, 87, 87);
    align-items: center;
    
 }

 .box-1{
    align-self: stretch;
    width: 5%;
    
    
 }

 .box-5{
    align-self: stretch;
    width: 10%;
    flex-grow: 1;
    
 }

 @media (max-width: 640px){
    .container{
        flex-direction: column-reverse;
         
     }
    .box-1{
        
        
        flex-grow: 1;
        width: 100%;
        
     }
     .container div{
        display: flex;
        gap: 0.5rem;
         
     }
 
 }